@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@layer base {
  body {
    @apply bg-gray-50;
    font-family: "Poppins", sans-serif;
  }

  .input {
    @apply w-full p-3 box-border mb-6 border-gray-200  border-2 border-solid outline-none transition-all duration-500 ease-in-out  rounded-lg mt-1 text-gray-600;
  }
  .input:focus {
    @apply border-2 border-solid border-primary-700 shadow-inner;
  }
  .label {
    @apply text-sm text-gray-600;
  }
  .form {
    @apply sm:p-10 p-5 clear-both w-full box-border;
  }
  .btn {
    @apply w-full text-primary-50 h-14 leading-10 bg-primary-500 font-bold cursor-pointer rounded-md tracking-wider outline-none transition-all duration-500 ease-in shadow-lg;
  }
  .btn:focus {
    @apply outline-none bg-primary-700 shadow-sm;
  }
  .btn:hover {
    @apply bg-primary-700 shadow-sm;
  }

  .default {
    @apply w-1/2 float-left h-14  text-center mt-2 cursor-pointer leading-10 text-gray-500 bg-gray-100;
  }
  .default:hover {
    @apply underline;
  }
  .active {
    @apply bg-primary-100 text-primary-700 underline;
  }
  .custom-file-input {
    @apply mx-auto mb-8 w-full text-center;
  }
  .btn-large {
    @apply text-center w-auto sm:px-10 px-1  shadow-sm md:text-base text-sm h-10 rounded-full duration-100;
  }
  .btn-green {
    @apply bg-green-100 text-green-700;
  }
  .btn-red {
    @apply bg-red-100 text-red-700;
  }
  .btn-red:hover,
  .btn-red:focus {
    @apply bg-red-900 text-red-100;
  }
  .btn-green:hover,
  .btn-green:focus {
    @apply bg-green-900 text-green-100;
  }
  .input-autocomplete {
    @apply md:w-1/2 md:mx-auto block  mb-0 text-gray-900 rounded-none shadow-md;
  }
  .input-autocomplete:focus {
    @apply shadow-md  border-gray-500;
  }
  /* .option:focus {
    @apply outline-black;
  } */
}

.google-btn {
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}
